@media screen and (max-width: 600px) {
  :root{
    --normal-font-size: 2.4rem !important;
    --smaller-font-size: 2.2rem !important;
    --extra-small-font-size: 1.8rem !important;
  }
}

@media screen and (min-width: 600px) {
  html {
    font-size: 68.75%;
  }
}

@media screen and (min-width: 768px) {
  html {
    font-size: 75%;
  }
}

@media screen and (min-width: 992px) {
  html {
    font-size: 81.25%;
  }
}

@media screen and (min-width: 1200px) {
  html {
    font-size: 87.25%;
  }
}

@media screen and (min-width: 1921px) {
  html {
    font-size: 124.75%;
  }
}